{% extends "base.html" %}
{% block title %}
  About
{% endblock title %}
{% block content %}
  <h1 class="title">About "ANNIS experiments"</h1>
  <div class="content">
    <p>
      ANNIS is an open source, versatile web browser-based search and visualization architecture for complex multilevel linguistic corpora with diverse types of annotation.
      This is an <strong>experimental</strong> version of ANNIS trying to rethink the user interface and implementation of the ANNIS frontend.
    </p>
    <ul>
      <li>
        Version: {{ version }} (the "0." prefix indicates that this is still an experimental software and can change or <em>remove</em> functionality at any time.)
      </li>
      <li>
        Homepage: <a href="https://github.com/korpling/annis-web">https://github.com/korpling/annis-web</a>
      </li>
    </ul>
  </div>
  <h2 class="title is-4">What is the difference to the original ANNIS version 4?</h2>
  <p class="content">
    The experimental is very limited in its feature set, and only supports exporting the results as CSV for now.
    Additional features, like other exporters or a frequency analysis will be added later.
  </p>
  <h2 class="title is-4">Why starting from scratch?</h2>
  <p class="content">
    ANNIS 4 is based on a web-frontend library called <a href="https://vaadin.com/vaadin-8">Vaadin 8</a>.
    Since Vaadin 8 is end-of-life and receives no further updates, we have to rethink the whole technical application stack of the ANNIS frontend.
    Updating to Vaadin 23 is practically a complete rewrite, so we should be open about which Programming Languages and Frameworks we use. Especially, porting the different visualizers might become a larger struggle.
    This project is meant to create an experimental prototype with a Rust-based framework and technologies and to create a usable next generation of the ANNIS frontend step-by-step.
    While Vaadin 7/8 was around as Open Source for a long time, we are even more conservative when choosing the new technology, so it will work for a long time.
  </p>
{% endblock content %}
