<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <link rel="shortcut icon" href="{{ url_prefix }}static/icons/favicon.ico">
      <link rel="stylesheet" href="{{ url_prefix }}static/fonts.css" />
      <link rel="stylesheet" href="{{ url_prefix }}static/annis.min.css" />
      <script src="{{ url_prefix }}static/htmx-1.9.4.min.js"></script>
      <script src="{{ url_prefix }}static/hyperscript-0.9.11.min.js"></script>
      <title>
        {% block title %}
        {% endblock title %}
      </title>
    {% endblock head %}
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <img src="{{ url_prefix }}static/icons/annis_192.png"
             width="52px"
             height="auto"
             alt="Logo of ANNIS depicting two anis fruits"
             class="m-1">
        <a role="button"
           class="navbar-burger"
           aria-label="menu"
           aria-expanded="false"
           onclick="document.querySelector('#annis-navbar').classList.toggle('is-active')">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="annis-navbar" class="navbar-menu">
        <div class="navbar-start">
          {% let corpus_class -%}
          {% if state.selected_corpora.len() == 0 %}
            {% let corpus_class = "is-warning" -%}
          {% else %}
            {% let corpus_class = "is-info" -%}
          {% endif %}
          <a class="navbar-item" href="{{ url_prefix }}">Corpora  <span class="ml-1 tag is-small {{ corpus_class }}"
        title='{{ state.selected_corpora|join(", ") }}'>{{ state.selected_corpora.len() }}</span></a>
          <a class="navbar-item" href="{{ url_prefix }}export">Export</a>
          <a class="navbar-item" href="#">About</a>
        </div>
      </div>
    </nav>
    <div class="box">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
