<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ url_prefix }}static/icons/favicon.ico">
    <link rel="stylesheet" href="{{ url_prefix }}static/fonts.css" />
    <link rel="stylesheet" href="{{ url_prefix }}static/annis.min.css" />
    <script src="{{ url_prefix }}static/htmx-1.9.4.min.js"></script>
    <script src="{{ url_prefix }}static/hyperscript-0.9.11.min.js"></script>
    <title>ANNIS
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <img src="{{ url_prefix }}static/icons/annis_192.png"
             width="52px"
             height="auto"
             alt="Logo of ANNIS depicting two anis fruits"
             class="m-1">
        <a role="button"
           class="navbar-burger"
           aria-label="menu"
           aria-expanded="false"
           onclick="document.querySelector('#annis-navbar').classList.toggle('is-active')">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="annis-navbar" class="navbar-menu">
        <div class="navbar-start">
          {% set corpus_class = "" %}
          {% if (session.selected_corpora|length) == 0 %}
            {% set corpus_class = "is-warning" %}
          {% else %}
            {% set corpus_class = "is-primary" %}
          {% endif %}
          <a class="navbar-item" href="{{ url_prefix }}corpora">Corpora  <span class="ml-1 tag is-small {{ corpus_class }}"
        title='{{ session.selected_corpora|join(", ") }}'>{{ session.selected_corpora|length }}</span></a>
          <a class="navbar-item" href="{{ url_prefix }}export">Export</a>
          <a class="navbar-item" href="{{ url_prefix }}about">About</a>
        </div>
        <div class="navbar-end">
          {% if login_configured %}
            <div class="navbar-item">
              {% with current_username = username(session) %}
                {% if current_username is defined %}
                  <span class="navbar-item">Logged in as "{{ current_username }}"</span>
                  <div class="buttons">
                    <a class="button is-light"  href="{{ url_prefix }}oauth/logout"">Log Out</a>
                  </div>
                {% else %}
                  <div class="buttons">
                    <a class="button is-light"  href="{{ url_prefix }}oauth/login"">Log in</a>
                  </div>
                {% endif %}
              {% endwith %}
            </div>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="box">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
