<div id="export-status"
     hx-target="this"
     hx-swap="outerHTML"
     class="tile is-child box">
  {% match state %}
  {% when JobState::Idle %}
  <button class="button" hx-post="{{ url_prefix }}export/job">Start export</button>
  {% when JobState::Running with (progress) %}
  <div hx-trigger="load delay:500ms" hx-get="{{ url_prefix }}export/job">
    <label for="job-progress">Export progress:</label>
    <progress id="job-progress" max="1" value="{{ progress }}">
    {{ progress * 100.0 }}%</progress>
  </div>
  {% when JobState::Finished %}
  <a hx-boost="false" href="{{ url_prefix }}export/file">Download result</a>
{% endmatch %}
</div>
