{% extends "base.html" %}
{% block title %}
  ANNIS CSV Export
{% endblock title %}
{% block content %}
  <article>
    <h1 class="title">Export CSV</h1>
    <p class="subtitle is-6">
      The CSV Exporter exports only the values of the elements searched for by the user,
      ignoring the context around search results.
      The values for all annotations of each of the found nodes
      is given in a comma-separated table (CSV).
    </p>
    <form>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Query</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea name="query"
                        id="aql-input"
                        class="textarea is-family-code"
                        placeholder='To search for all token use the following query: tok '
                        hx-get="{{ url_prefix }}export"
                        hx-trigger="keyup changed delay:500ms"
                        hx-target="#export-example-output"
                        hx-select="#export-example-output"
                        hx-swap="outerHTML"></textarea>
            </div>
          </div>
        </div>
      </div>
      {{ export_job|safe }}
      <h2 class="title is-4">Example output</h2>
      <div id="export-example-output">{{ example_output|safe }}</div>
    </form>
  </article>
{% endblock content %}
