{% extends "base.html" %}
{% block title %}
  ANNIS CSV Export
{% endblock title %}
{% block content %}
  <form method="post" action="{{ url_prefix }}/export" hx-boost="true">
    <article>
      <h1 class="title">Export</h1>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-parent is-6">
            <div class="tile is-child box">
              <textarea name="aql"" class="textarea is-family-code" placeholder='AQL query, to search for all token use the following query: tok '></textarea>
            </div>
          </div>
          <div class="tile is-parent is-6">
            <div class="tile is-child box">
              <h2 class="title is-5">Options</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <h2 class="title is-5">Preview</h2>
          <pre class="content is-family-monospace">{{ example }}</pre>
        </div>
      </div>
    </article>
  </form>
{% endblock content %}
